Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.in
config.in~
config.log
config.status
configure
depcomp
edgar-1.0.tar.gz
edgar-1.0
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/apply.o
src/edgar
src/env.o
src/eval.o
src/fileio.o
src/func_atom.o
src/func_car.o
src/func_cdr.o
src/func_cond.o
src/func_cons.o
src/func_equal.o
src/func_greater.o
src/func_int.o
src/func_minus.o
src/func_null.o
src/func_less.o
src/func_plus.o
src/func_quotient.o
src/func_remainder.o
src/func_sqrt.o
src/func_times.o
src/main.o
src/number.o
src/obj.o
src/parser.o
src/repl.o
src/scanner.o
stamp-h1
tests/*.out
tests/*.stdout
tests/*.stderr
