*.swp
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.h
config.in
config.in~
config.log
config.status
configure
depcomp
edgar-1.0.tar.gz
edgar-1.0
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/edgar
stamp-h1
test-driver
tests/*.out
tests/*.stdout
tests/*.stderr
tests/*.o
tests/*.log
tests/*.trs
tests/.deps
tests/unittests
