Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.in
config.in~
config.log
config.status
configure
depcomp
edgar-1.0.tar.gz
edgar-1.0
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/apply.o
src/builtin.o
src/edgar
src/env.o
src/eval.o
src/fileio.o
src/main.o
src/number.o
src/obj.o
src/parser.o
src/repl.o
src/scanner.o
stamp-h1
tests/*.out
tests/*.stdout
tests/*.stderr
